*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.window{
    width: 800px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border:1px solid red;
}
.images{
    display: flex;
}
.images>img{
    position: absolute;
    transition: all 0.5s;
    top: 0;
}
.current{
    /* left: 0; */
    z-index: 1;  
    transform: translateX(0);
}
.left{
    /* left: -100%; */
    z-index: 1; 
    transform: translateX(-100%);
}
.right{
    /* left: 100%; */
    transform: translateX(100%);
}